.parent{
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    display: inline-table;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.text{
    color: #133c59;
}