.nav{
    border: none!important;
    box-shadow: none!important;
}
.navpad{
    padding-left: 15%;
}
.itempad{
    padding-left: 60px;
}
.nav{
    color: #133C59!important;
}
.icon{
    padding-left: 60px;
    background-color: white;
    border-radius: 2px;
    text-align: center;
    padding: 2px 4px;
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -7px rgba(0,0,0,0.75);
    display: inline;
    float: right;
}
.flagicon{
    padding-left: 3px;
}
@media(max-width:767px){
    .navpad{
        padding-left: 0px;
        padding-top: 10px;
    }
    .icon{
        display: none;
    }
    .itempad{
        padding-left: 0px;
    }
    .left_content{
        display: none;
    }
}
.heading{
    font-size: 24px;
    max-width: 260px;
}
.hide{
    display: none;
}
.shown{
    display: none;
}