.selected{
    color: #0074FF;
    border-left: 3px solid #0074FF;
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
    border-left: 3px solid #0074FF;
}
.links{
    text-decoration: none;
    color: #4f4f4f;
}
.links:hover{
    color: #4f4f4f;
}