.body_container{
    display: flex; 
    width: 100%;
}
.text{
    font-size: 24px;
    color: #133C59;
    opacity: 1;
}
.content{
    color: #133C59;
    font-size: 18px;
    font-weight: 600;
}
.sub_content{
    color: #133C59;
    font: normal normal 300 16px/18px;
    line-height: 2rem;
}
.red{
    border-radius: 10px;
    margin-top: 10px;
    background-color: #F0716A!important;
}
.red:hover{
    background-color: #b94943!important;
}
.box_shadow{
    color: #133C59;
    background-color: white!important;
    border-radius: 10px;
    text-align: left!important;
    -webkit-box-shadow: 0px 0px 13px -8px rgba(19,60,89,1);
    -moz-box-shadow: 0px 0px 13px -8px rgba(19,60,89,1);
    box-shadow: 0px 0px 13px -8px rgba(19,60,89,1);
}