.header_container{
    display: inline-block; 
    width: 100%;
}
.platform_name{
    color: #007FEB;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.float_right{
    float: right !important;
}
.float_left{
    float: left !important;
}
.item{
    border-radius: 10%;
    -webkit-box-shadow: 10px 10px 23px -6px rgba(191,187,187,1);
-moz-box-shadow: 10px 10px 23px -6px rgba(191,187,187,1);
box-shadow: 10px 10px 23px -6px rgba(191,187,187,1);
}
.avatar{
    vertical-align: middle;
    padding-bottom: 2px;
    /* width: 25px;
    height: 25px; */
}
.small_text{
    padding-right: 7px;
    font-size: 12px;
}
.spacing{
    margin-right: 20px;
}
.bell{
    padding-left: 1.5px;
}
.FlagIcon{
    padding-left: 3px;
}
.relative{
    position: relative;
}
.button_badge{
    cursor: pointer;
    position: absolute;
    top: 0.1px;
    right: 1px;
    background-color: transparent;
    color: red;
    padding: 0px 4px;
    font-size: 11px;
}
.pointer{
    cursor: pointer;
}
.slidebar{
    position: absolute;
    width: 250px;
    height: 100vh;
    min-height: 600px;
    right: 0;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 0px #cacaca;
}
.cross{
    float: right;
    background-color: #DDF6F9;
    border-radius: 3px;
    padding: 4.5px 6.5px;
    cursor: pointer;
    font-size: 12px;
}
.show{
    opacity: 1;
    visibility: visible;
    transition: visibility 0.3s ease-in-out, opacity 0.3s linear;
}
.hide{
    opacity: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.3s linear;
    visibility: hidden;
}
.footer{
    position: absolute;
    bottom: 0px;
    margin-left: 70px;
    margin-bottom: 20px;
}
