body{
    background: #F8F8F8 0% 0% no-repeat padding-box;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
.header_container{
    display: inline-block; 
    width: 100%;
}
.platform_name{
    color: #007FEB;
    font-weight: bold;
    font-size: 20px;
}
.float_right{
    float: right !important;
}
.float_left{
    float: left !important;
}
.pb_2{
    margin-bottom: 20px;
}
.spacing{
    margin-right: 20px;
}
.badge{
    position: absolute;
    color: black;
    right: 97px;
    top: 20px;
    padding: 3px 3px;
    border-radius: 50%;
    color: red;
}
.item{
    border-radius: 10%;
    -webkit-box-shadow: 10px 10px 23px -6px rgba(191,187,187,1);
-moz-box-shadow: 10px 10px 23px -6px rgba(191,187,187,1);
box-shadow: 10px 10px 23px -6px rgba(191,187,187,1);
}
.flag{
    padding-left: 3px;
}
.avatar{
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.small_text{
    padding-right: 7px;
    font-size: 12px;
}

.body_container{
    display: flex; 
    width: 100%;
}
.sidebar{
    height: 500px;
    width: 90px;
    border-radius: 10px;
    font-size: 14px;
    /* position: absolute; */
}
.text{
    font-size: 16px;
    font-weight: bold;
    color: #133C59
}
.card{
    border-radius: 10px;
    text-align: center;
    /* height: 150px; */
}
.text_blue{
    color: #007FEB;
    font-size: 30px;
    font-weight: bold;
}
.box{
    margin: auto;
}
@media(max-width: 767px){
    .card{
        border-radius: 10px;
        text-align: center;
        max-width: 300px;
        margin-bottom: 15px;
    }
}
.upper_part{
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    background-size: contain;
}
.text_lg{
    font-size: 24px;
    color: #133C59
}
.circle{
    font-size: 10px;
}
.role{
    padding-left: 5px;
}
.bullet{
    padding-left: 10px;
}
.blue_bullet{
    color: #007FEB;
}
.pt_6{
    padding-top: 80px;
}
.inner{
    border-radius: 5px;
    height: 54px;
}
.outer{
    border-radius: 10px;
    border: 5px solid rgba(165, 165, 165, 0.3);
}
.searchIcon{
    color: #007FEB;
    padding-right: 10px;
    padding-top: 4px!important;
}
.search{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #007FEB;
    outline: #007FEB;
}
@media(max-width: 576px){
    .sidebar{
        height: 500px;
        width: 70px;
        border-radius: 10px;
        font-size: 12px;
        position: absolute;
    }
}
.bell{
    padding-left: 1.5px;
}
.hidden{
    display: none
}
.red{
    border-radius: 20px;
    margin-top: 10px;
    background-color: #F0716A!important;
}
.fool{
    padding-bottom: 40px;
}
.pre{
    border-radius: 6px;
    color: white;
}
