.float_right{
    float: right !important;
}
.spacing{
    margin-right: 20px;
}
.absolute{
    position: absolute;
}
.item{
    border-radius: 10%;
    -webkit-box-shadow: 10px 10px 23px -6px rgba(191,187,187,1);
    -moz-box-shadow: 10px 10px 23px -6px rgba(191,187,187,1);
    box-shadow: 10px 10px 23px -6px rgba(191,187,187,1);
}
.relative{
    position: relative;
}
.See_all_border{
    height:17%;
    text-align: center;
    cursor: pointer;
    font: normal normal medium 11px/13px Helvetica ;
}
.bell_container{
    width:210px;
    padding:10px 10px 0px 10px;
    height:237px;
    margin-top:20px;
    right:0px;
    border-radius: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.button_badge{
    cursor: pointer;
    position: absolute;
    top: 0.1px;
    right: 1px;
    background-color: transparent;
    color: red;
    padding: 0px 4px;
    font-size: 11px;
}